img{
    display: inline-block;margin-left: 70%;width: 30%;
}
body{
background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmykgLA4HRPLIWbLx8H6OQNZwEfnuxhc_gwg&s);}
.header{
    color: azure;text-indent: 20%
}
#hell{
    color: white;text-size-adjust: 50%;
}
.fail{
    margin-top: 400px;font-size: large;
}